<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KALKULUS1</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_about.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <section class="navbar">
      <input type="checkbox" id="check" />
      <header>
        <h2>
          <a href="#" class="logo">KALKULUS<span>II</span></a>
        </h2>
        <div class="navigation">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/help">Help</a>
          <a href="/materi">Materi</a>
          <a href="/index">Integral Kalkulator</a>
        </div>
        <label for="check">
          <i class="fas fa-bars menu-btn"></i>
          <i class="fas fa-times close-btn"></i>
        </label>
      </header>
  <div class="content">
    <div class="info">
      <h2>ABOUT US</h2>
      <p>
        Selamat datang di halaman "About Us"!
        Tugas ini merupakan bagian arahan dari dosen pengampu kami, Ibu Euis Nur Fitriani Dewi., S.T.,M.Kom. 
        kami dengan sepenuh hati berkomitmen untuk memenuhi ekspektasi yang telah ditetapkan.
        Kami berusaha menyajikan konsep integral lipat dua dengan cara yang
        mudah dipahami dan visualisasi yang menarik.
      </p>

      <p>
        Dengan ini, kami berharap website kami dapat menjadi manfaat bagi semua
        pengguna yang ingin mendalami konsep Integral Lipat Dua.
      </p>
    </div>
  </div>

<h1>OUR TEAM</h1>
  <main id="member-section">
    <section class="member">
      <img
        src="/static/profil/hesya.jpg"
        alt="Anggota 1"
      />
      <h2>Hesya Rahmandini</h2>
      <p>237006016</p>
      <i class="fa-regular fa-envelope-open"> 237006063@student.unsil.ac.id</i>
    </section>

    <section class="member">
      <img
        src="/static/profil/afiyah.jpeg"
        alt="Anggota 2"
      />
      <h2>Febriana Afiyah</h2>
      <p>237006023</p>
      <i class="fa-regular fa-envelope-open"> 237006063@student.unsil.ac.id</i>
    </section>

    <section class="member">
      <img
        src="static/profil/erdin.jpg"
        alt="Anggota 3"
      />
      <h2>ERDIN NURHIDAYAT</h2>
      <p>237006063</p>
      <i class="fa-regular fa-envelope-open"> 237006063@student.unsil.ac.id</i>
    </section>

    <section class="member">
      <img
        src="static/profil/Yuga.png"
        alt="Anggota 5"
      />
      <h2>Muchammad Yuga Ranapraja</h2>
      <p>237006058</p>
      <i class="fa-regular fa-envelope-open"> 237006058@student.unsil.ac.id</i>
    </section>


    <section class="member">
        <img
          src="static/profil/nabhan.jpeg"
          alt="Anggota 4"
        />
        <h2>Nabhan Fakhri Adli</h2>
        <p>237006045</p>
        <i class="fa-regular fa-envelope-open"> 237006063@student.unsil.ac.id</i>
      </section>

      
    </section>
  </body>
  </main>
</html>
