<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KALKULUS1</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylehome.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <section>
      <input type="checkbox" id="check" />
      <header>
        <h2>
          <a href="#" class="logo">KALKULUS<span>II</span></a>
        </h2>
        <div class="navigation">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/help">Help</a>
          <a href="/materi">Materi</a>
          <a href="/index">INTEGRAL KALKULATOR</a>
        </div>
        <label for="check">
          <i class="fas fa-bars menu-btn"></i>
          <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content">
        <div class="info">
          <h2>INTEGRAL <br /><span>LIPAT DUA</span></h2>
          <p>
            Integral lipat dua adalah konsep dalam kalkulus yang
            menggeneralisasi integral tunggal ke dimensi dua. Ini memungkinkan
            kita untuk menghitung luas daerah di bidang dengan lebih kompleks,
            atau volume objek tiga dimensi yang dibatasi oleh permukaan di
            bidang dua dimensi. Dalam integral lipat dua, fungsi dua variabel
            diintegralkan melalui dua variabel independen yang saling berkaitan
          </p>
          
      </div>
      <a href="/materi" class="info-btn">READ MORE</a>
    </section>
   
  </body>
</html>
