<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KALKULUS1</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_help.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <section>
      <input type="checkbox" id="check" />
      <header>
        <h2>
          <a href="#" class="logo">KALKULUS<span>II</span></a>
        </h2>
        <div class="navigation">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/help">Help</a>
          <a href="/materi">Materi</a>
          <a href="/index">INTEGRAL KALKULATOR</a>
        </div>
        <label for="check">
          <i class="fas fa-bars menu-btn"></i>
          <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content">
        <div class="info">
          <h2>CARA PENGGUNAAN KALKULATOR INTEGRAL LIPAT DUA</h2>
          <ul>
            <li>
              Tampilan yang pertama ditampilkan adalah menu home, untuk membuka
              menu kalkulator Anda bisa langsung klik coba Kalkulator atau klik
              buka menu kalkulator pada navbar yang telah disediakan
            </li>
            <li>
              Setelah menu kalkulator terbuka,akan ada form untuk masukkan
              fungsi yang ingin Anda integralkan <br />
              untuk memasukan fungsi yang berpangkat bisa dengan tanda bintang
              dua kali contoh x pangkat 2 menjadi x**2
            </li>
            <li>Pilih opsi integrasi dydx di kalkulator</li>
            <li>
              setelah menu kalkulator terbuka,akan ada form untuk masukkan
              fungsi yang ingin Anda integralkan
            </li>
            <li>pilih opsi integrasi dydx di kalkulator</li>
            <li>Silahkan masukan batas bawah(x) tidak bisa bilangan berpangkat</li>
            <li>Masukan juga batas bawah(x)untuk variabel x, tidak bisa bilangan berpangkat</li>
            <li>Masukan batas bawah(y) tidak bisa bilangan berpangkat </li>
            <li>Masukan juga batas bawah (y)untuk variabel y, tidak bisa bilangan berpangkat</li>
            <li>Tekan tombol "Hitung" untuk mendapatkan hasil integral.</li>
            <li>
              untuk kembali ke menu utama/menu home bisa diklik menu back to
              home
            </li>
          </ul>
    </section>
  </body>
</html>
